.exclusive {
    background: url(./../img/main-bg.png) top/cover no-repeat;
    padding: 6.5rem 0 9rem;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .6);
        z-index: 2;
    }

    &__wrapper {
        position: relative;
        z-index: 3;
        min-height: 100%;
    }

    &__title {
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        text-shadow: .7rem .7rem 0 rgba(0, 0, 0, 0.4);
    }

    &__btn-store {
        display: block;
        text-align: center;
        background: linear-gradient(180deg, #686C6F 0%, $dark-gray 100%);
        padding: 1.5rem 4.5rem;
        width: 20.7rem;
        margin: 0 auto;
        font-size: 2.1rem;
        font-weight: 700;
        border-radius: .5rem;
        cursor: pointer;

        a {
            color: $white;
        }

        &:hover {
            background: linear-gradient(180deg, $dark-gray 0%, #686C6F 100%);
        }
    }
}

// Стилизация слайдера в блоке swiper